body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    background-color:#030616;
    background-size: cover;
}

#board{
    width: 540px;
    height: 540px;
    background-color:white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./carnival.avif")

}